* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --primary: #bd59d4;
  --bg: #ffffffa4;
  --secondary: #532967;
}
@media print {
  .table,
  .table__body {
    overflow: visible;
    height: auto !important;
    width: auto !important;
  }
}

/*@page {
    size: landscape;
    margin: 0; 
}*/

body {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background: rgba(93, 84, 240, 0.5);
  background: -webkit-linear-gradient(
    left,
    rgba(0, 168, 255, 0.5),
    rgba(185, 0, 255, 0.5)
  );
  background: -o-linear-gradient(
    left,
    rgba(0, 168, 255, 0.5),
    rgba(185, 0, 255, 0.5)
  );
  background: -moz-linear-gradient(
    left,
    rgba(0, 168, 255, 0.5),
    rgba(185, 0, 255, 0.5)
  );
  background: linear-gradient(
    left,
    rgba(0, 168, 255, 0.5),
    rgba(185, 0, 255, 0.5)
  );
}

.container {
  display: flex;
  justify-content: center;
}

main.table {
  margin-top: 100px;
  width: 82vw;
  height: 90vh;
  background-color: #fff5;

  backdrop-filter: blur(7px);
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: 0.8rem;

  overflow: hidden;
}

.table__header {
  width: 100%;
  height: 10%;
  background-color: #fff4;
  padding: 0.8rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table__header h1 {
  color: var(--primary);
  font-weight: bold;
  font-size: 20px;
}

.table__header .input-group {
  width: 35%;
  height: 100%;
  background-color: #fff5;
  padding: 0 0.8rem;
  border-radius: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.2s;
}

.table__header .input-group:hover {
  width: 45%;
  background-color: #fff8;
  box-shadow: 0 0.1rem 0.4rem #0002;
}


.table__header .input-group input {
  width: 100%;
  padding: 0 0.5rem 0 0.3rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.table__body {
  width: 95%;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;

  margin: 0.8rem auto;
  border-radius: 0.6rem;

  overflow: auto;
  overflow: overlay;
  align-items: center;
}

.table__body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

table {
  width: 100%;
}

td img {
  width: 36px;
  height: 36px;
  margin-right: 0.5rem;
  border-radius: 50%;

  vertical-align: middle;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: center;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #d5d1defe;
  cursor: pointer;
  text-transform: capitalize;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr {
  --delay: 0.1s;
  transition: 0.5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr:hover {
  background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
  transition: 0.2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
  font: 0 / 0 sans-serif;
  transition: 0.2s ease-in-out 0.5s;
}

tbody tr.hide td img {
  width: 0;
  height: 0;
  transition: 0.2s ease-in-out 0.5s;
}

tbody tr td p{
  font-size: 10px;
  width: 44px;
  padding: 4px 0;
  border-radius: 2rem;
  text-align: center;
  margin: 1px auto;
  color: #fff;
}

tbody .Bersih, tbody .Tidak, tbody .Ada {
  background-color: #86e49d;
}

tbody .Rusak, tbody .Iya {
  background-color: #d893a3;
}

tbody .Kotor, tbody .Habis {
  background-color: #ebc474;
}

tbody .Hilang {
  background-color: #6d7172;
}

tbody tr td button {
  margin: 3px;
  width: 44px;
  padding: 4px 0;
  border-radius: 2rem;
  text-align: center;
  font-size: 10px;
  transition: transform 0.3s ease-in-out;
}

tbody tr td button a {
  color: #fff;
}

tbody tr td .btn-ubah {
  background-color: #1be14d;
}

tbody tr td .btn-hapus {
  background-color: #e11b1b;
}


tbody tr td button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 1000px) {
  td:not(:first-of-type) {
    min-width: 12.1rem;
  }
}

thead th span.icon-arrow {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 1.4px solid transparent;

  text-align: center;
  font-size: 1rem;

  margin-left: 0.5rem;
  transition: 0.2s ease-in-out;
}

thead th:hover span.icon-arrow {
  border: 1.4px solid #6c00bd;
}

thead th:hover {
  color: #6c00bd;
}

thead th.active span.icon-arrow {
  background-color: #6c00bd;
  color: #fff;
}

thead th.asc span.icon-arrow {
  transform: rotate(180deg);
}

thead th.active,
tbody td.active {
  color: #6c00bd;
}
button[type="submit"] {
  width: 20px;
  height: 20px;
  color: rgb(147, 146, 146);
  align-items: center;
  display: flex;
  background-color: transparent;
  transition: transform 0.3s ease-in-out;
}

button[type="submit"]:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.table__header a {
  padding: 5px;
  color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: var(--primary);
  border-radius: 50%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  transition: transform 0.3s ease-in-out;

  box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
}

.table__header a:hover {
  background-color: #4b2354;
  box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -moz-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -webkit-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -o-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -ms-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  cursor: pointer;
  transform: scale(1.2);
}

/* Footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 2rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  padding: 0.5rem;
}

footer .links a {
  color: #fff;
  font-size: 1.3rem;
  padding: 0 1.3rem;
}

footer .credit {
  padding: 1rem 0;
}

footer .credit a {
  padding: 0 0.5rem;
  color: var(--secondary);
  font-weight: 700;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--secondary);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(48, 7, 46, 0.8);
  border-bottom: 1px solid #6a5742;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #ffffff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}
/* Media Queries */

/* Layar Lebar */
@media (max-width: 1500px) {
  html {
    font-size: 100%;
  }
}

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #532967;
    width: 20rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: #fff;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a:hover {
    color: var(--primary);
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover:after {
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0.3);
  }
}

/* Mobile-Phone */
@media (max-width: 480px) {
  html {
    font-size: 55%;
  }
}
